// colors
$accentColor: darken(#abcdef, 20%);
$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #282c34;
$arrowBgColor: #ccc;
$badgeTipColor: #42b983;
$badgeWarningColor: darken(#ffe564, 35%);
$badgeErrorColor: #DA5961;

// layout
$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;
$homePageWidth: 960px;

// custom
$noteColor: #eaecef66;
$warningColor: #ff6633;
$warningTextColor: #333333;
$warningInlineCodeColor: #eeeeee;
$horizontalMargin: 1.5rem;

// responsive breakpoints
$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;

@mixin excerpt($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    padding: 0.5rem 1.5rem;
}

.github-link {
    margin-top: 2rem;
}

.note {
    background-color: $noteColor;
    @include excerpt(6px);
    margin-bottom: 1rem;
}

.warning,
.warn {
    background-color: $warningColor;
    color: $warningTextColor;
    @include excerpt(6px);

    // code {
    //     color: $warningInlineCodeColor;
    // }
}

.loading {
    color: gray;
}

@media screen and (max-width: $MQMobile) {
    .note {
        @include excerpt(0px);
        margin: 0.0rem -1.5rem;
    }
}