// colors
$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #282c34;
$arrowBgColor: #ccc;
$badgeTipColor: #42b983;
$badgeErrorColor: #DA5961;

// layout
$navbarHeight: 3.6rem;
$sidebarWidth: 20rem;
$contentWidth: 740px;
$homePageWidth: 960px;

// custom
$noteColor: #eaecef66;
$warningColor: #ff6633;
$warningTextColor: #333333;
$warningInlineCodeColor: #eeeeee;
$horizontalMargin: 1.5rem;

// responsive breakpoints
$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;

@mixin excerpt($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    padding: 0.5rem 1.5rem;
}

.github-link {
    margin-top: 2rem;
}

.note {
    background-color: $noteColor;
    @include excerpt(6px);
    margin: 1rem 0rem;
}

.warning,
.warn {
    background-color: $warningColor;
    color: $warningTextColor;
    @include excerpt(6px);

    // code {
    //     color: $warningInlineCodeColor;
    // }
}

.loading {
    color: gray;
}

@media screen and (max-width: $MQMobile) {
    .note {
        @include excerpt(0px);
        margin: 0.0rem -1.5rem;
    }
}

canvas {
    background-color: #454545;
    width: 100%;
    height: 100%;
}

.webgpu_example_button {
    height: 33px;
    font-size: 14px;
    padding: 0px 8px;
    margin-top: 16px;
    border: 1px solid rgba(60, 60, 60, 0.15);
    border-radius: 8px;
}

.webgpu_example_button:hover {
    border-color: #059669;
}